@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;

}



.container {
    margin-left: 5%;
    margin-right: 5%;

}




.hero-section{
    background-color: rgb(0, 135, 232);
    margin-bottom: 50px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 50px;
   
}

nav>div>h2 {
    font-weight: 800;
    font-size: 40px;

}
span{
    color: #FF900E;
}

nav>div>a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bolder;
font-size: 18px;
color: black;


}
.banner{
    padding-bottom: 50px;
}
.top-banner{
    text-align: center;
}
.top-banner >h1{
    font-weight: 700;
font-size: 64px;
color: white;

}
.top-banner >p{
    font-weight: 400;
font-size: 16px;
margin: 15px;

}
.top-btn{
    margin-bottom: 15px;
    width: 120px;
height: 40px;
background-color: #FF900E;
border: none;
font-weight: bolder;
color: white;
border-radius: 5px;
}
.bottom-banner > img{
    width: 100%;
    

}

/* nav section style end  */