@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;


}

body {
    background: rgba(255, 144, 14, 0.1);
}

.p {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

.h2 {
    font-weight: 700;
    font-size: 35px;
    color: black;
}



.container {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;

}




.hero-section {

    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 50px;

}

nav>div>h2 {
    font-weight: 800;
    font-size: 40px;

}

span {
    color: #FF900E;
}

nav>div>a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(255, 255, 255);

    padding: 5px 10px;
    border: none;
    border-radius: 7px;


}

.banner {
    padding-bottom: 50px;
}


.ten-year{
    position: absolute; 
    background-color: #FF900E; 
    height: 100px;
    width: auto;
    margin-top: 980px;
    margin-right: 707px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
    



}

.ten-year h1{
    font-weight: bolder;
font-size: 30px;

}
.ten-year >div{
    padding: 15px;
}


.top-banner {
    text-align: center;
}

.top-banner>h1 {
    font-weight: 700;
    font-size: 64px;
    color: rgb(0, 0, 0);

}

.top-banner>p {
    font-weight: 400;
    font-size: 16px;
    margin: 15px;

}

.top-btn,
.pri-btn {
    margin-bottom: 15px;
    width: 120px;
    height: 40px;
    border: none;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
}

.bottom-banner>img {
    width: 100%;


}

.hover-btn {
    background: linear-gradient(to right, #000000 50%, #FF900E 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 1s ease-out;
}

.hover-btn:hover {

    background-position: left;

}




/* top-article style start  */
.top-article {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 50px;
    height: auto;
    width: auto;

}

.item>img {
    width: auto;
    height: auto;
    border-radius: 15px;
}

.item {

    transition: 0.3s;


}


.item :hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.item5 {
    grid-column: 3/-1;
    grid-row: -1/-3;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.item5>div>p {
    margin: 15px 0px;
    width: 75%;

}

.gray-text {
    color: #ababab;
    font-weight: 200;
}



/* <!-- top article end  --> */

.features {
    display: flex;

}

.features>div {
    display: flex;
    align-items: center;
    width: 50%;
}

.text-section {

    width: 100%;
}

.text-section>h1 {

    border-left: 3px solid #FF900E;
    margin-bottom: 15px;
}

.banner-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {

    margin-top: 15px;
    border-radius: 15px;
    width: 75%;
    height: auto;

    transition: 0.3s;


    /* height: 171px; */
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.card>div {
    padding: 15px;
}

.card>div>h4 {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 5px;
    color: #FF900E;
}

/* banner section end  */

.bottom-facts {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.bottom-facts>div {
    width: 150px;
    height: 150px;
    border: #000000 2px solid;
    border-radius: 15px;
}

.bottom-facts>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 7px;
    height: 100%;


}

.bottom-facts>div>div>p {
    font-weight: bolder;
}

.facts-hover {
    background: linear-gradient(to right, #000000 50%, #fff3e6 50%);
    background-size: 200% 100%;
    background-position: right;
    transition: all 1s ease-out;

}

/* facts section end  */



.facts-hover:hover {

    background-position: left;
    color: white;

}

/* facts section end  */

.list-sponsors {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list-sponsors >img{
    width: 8%;
    filter: grayscale(100%);

}


/* footer start */
footer {
    margin-top: 50px;

    align-items: center;
    width: auto;
    
    background-color: #fff3e6;
}
.h3{
    
    
        font-weight: 700;
        font-size: 25px;
        color: black;
    

}
footer>.h3 {
    height: 40%;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}

.hr {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
 margin-top: 2%;
    width: 80%;
    text-align: left;
    margin-left: 0
}

.other-info {
    margin-top: 2%;
    margin-bottom: 2%;
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    text-decoration: none;
}

.other-info>h6>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 3px
    
}


.other-info>h6>a:hover {
    background-color: #FF900E;
    color: white;
    border-radius: 2px;
    padding: 3px;

}

.social-media-container {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    margin-bottom: 10px;

}
.social-media-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.social-media-container > div >a {

    font-size: 30px;
    margin: 5px 20px;
    border: none;
    

}

.fa-facebook{
    color: #1877f2;
    
    border-radius: 5px;
  
}


.fa-pinterest{
    color: #e60023;
   
    border-radius: 5px;
    
}


.fa-reddit{
        color: #FF4301;
    
    border-radius: 5px;

}

.copy-right{
    margin-bottom: 2%;
}
.ten-year-mobile{
    display: none;
}



/* breakpoint start  */

@media only screen and (max-width: 789px){
    nav{
        flex-direction: column;
    }
    .ancor{
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 15px;
        text-align: center;
        
       

    }
    .responsive-nav{
        height: auto;
    }

    .top-article{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    .features {
    display: flex;
     flex-direction: column;
     align-items: center;
        justify-content: center;

}
.features>div {
    display: flex;
    align-items: center;
    width: 100%;
}
.card{
    width: 100%;
}

.banner-section{
    width: 100%;

}
.banner-section>img{
    width: 100%;
    margin-top: 25px;
}
.ten-year{
    display: none;
}

.bottom-facts{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ten-year-mobile{
    display: block;
    background-color: #FF900E; 
    height: 150px;
    width: 150px;
    
    color: white;
    border-radius: 10px;
}

.ten-year-mobile h1{
    font-weight: bolder;
font-size: 30px;

}
.ten-year-mobile >div{
    padding: 15px;
    padding-top: 50px;
    
    
    
}
.ten-year-mobile-flex{
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

.list-sponsors {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
   
}

.list-sponsors >img{
    width: 15%;
    

}

.some-facts-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


	
}




